<%- include('partials/header.ejs') %>
<div class="cover">
  <img id="earth_cover_img" src="/img/earth.webp" alt="Picture of earth">
  <div class="centered"> 
    <p><strong>Earth</strong></p>
  </div>
</div>
<div class="hero-2col">
<figure><img src="<%= earthUrl %>" id="earth_img" alt="Image of Planet Earth">
</figure>
  <div class="info">
  <p class="">
    Earth is the eighth planet from the sun with a circumference 24,901 miles. Earth isn't flat, and it is not a perfect sphere either. Earth is known as a terrestrial planet, which essentially means that it is mostly composed of silicate rocks or metals. The current population of humans on earth is 7,960,834,383 and growning. We're currently forcasted to hit 8 Billion by the end of year 2022.
  </p>
  </div>
</div>
<%- include('partials/footer.ejs') %>

