<%- include('partials/header.ejs') %>
<div class="hero">
  <img id="img_milky_way" src="/img/milky-way.webp" alt="Picture of the milky way">
  <div class="centered milkyway"> 
    <p><strong>Milky Way</strong></p>
    <p>Our solar system is part of the milky way galaxy and it contains nine planets and one star.</p>
  </div>
</div>

  
<%- include('partials/footer.ejs') %>
