<%- include('partials/header.ejs') %>
<div class="hero">
<img src="/img/mars.webp" id="mars_img" alt="Image of Planet Mars">
<div class="centered mars">
  <h1>Mars</h1>
  <p>Mars is the fourth planet from the sun. It is known that Mars is a dusty, cold, desert world with a very thin atmosphere. It is one of the most explored planet in our solar system. NASA currently has two rovers exploring the surface of Mars. 
</div>
</div>
<%- include('partials/footer.ejs') %>

